/* styles.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
  /* height: 100vh; */
}
.entireview{
  display: flex;
  flex-direction: column;
}
.maincontainer{
  display: flex;
  height: 95vh;
}
.sidebar {
  width: 200px;
  background-color: #333;
  color: #fff;
  padding: 20px;
  /* position: sticky; */
  /* height:100vh; */
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
}

.content {
  flex: 1;
  padding: 20px;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  padding: 10px 20px;
  height: 5vh;
  position: sticky;
}

.profile {
  margin-right: 10px;
}

button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.dashboard{
  overflow: scroll;
  padding: 10px;
  width: 100%;
}
