/* NewCertification.css */

.NC-certificate-div {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    height: max-content;
  }
  
  .NC-certificate-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  
  .NC-form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .NC-grid-item {
    grid-column: span 1;
  }
  
  .NC-grid-item-empty {
    grid-column: span 2;
  }
  
  .NC-grid-item-comments {
    grid-column: span 2;
  }
  
  .NC-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .NC-select,
  .NC-date-picker,
  .NC-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .NC-textarea {
    resize: none;
    width: calc(100% - 20px);
  }
  
  .NC-button {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .NC-button:hover {
    background-color: #0056b3;
  }
  
  
  /* You can add more styles or customize existing ones as needed. */
  